* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #020111;
    width: 100%;
    box-shadow: 0 0 5px #CCC; 
    
}

.imagem {
    width: 300px;
    height: auto;

}
.centro {
    width: 1000px;
    margin: auto;

}

body {
    font-family: Arial, Verdana;
    font-size: 20px;
}

h2 {
    text-align:center;
    text-transform:uppercase;
    font-size: 32px;
}

#sobre-mim {
    background-color: #020111;  
    
}

section {
    padding-top: 50px;
    padding-bottom: 50px;

}

p {
    padding-top:30px;
}

#contato {
    background-color: #020111;
}

input, textarea
{
    width:100%;
    border: 1px solid #CCC;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom:10px;


}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size:15px;
}

button {
    background-color:greenyellow;
    padding:10px;
    border:0;
    margin-top: 10px;
}

#entreemcontato {
    font-size:16px;
}

#minhadescricao {
    display: inline-block;
    font-size: 30px;
    text-align:left;
}

#minhafoto {
    display:inline-block;
    width: 500px;
    height: 400px;
    border-radius:15px;
    box-shadow:   0 0 10px rgb(215, 137, 223);

    }

.container {
    display: flex;
   
}

.container #minhafoto {
    margin-right:100px;
}

#titulosobremim { 
margin-bottom: 40px;
text-shadow: #aa29bb;
}

body {
    background-color: #282A3E;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

